/* -----------------------------------------
   Item: Social Sprites
   Author: The Fireworks Police
   Description: Social Sprites for Wordpress
   Version: 2.5.0
----------------------------------------- */

/* Sprites URL
================================================== */

/*** UPDATE THESE URL ***/

.ss li{background:url(../img/socialsprites.png) no-repeat!important}
.ssm li{background:url(../img/socialsprites_mini.png) no-repeat!important}

/*** UPDATE THESE URL ***/

/* Social Sprites: General Listing
================================================== */
.ss{width:auto;margin:0;padding:0;text-align:left}
.ss li{display:inline-block!important;margin:0!important;padding:0!important;border-right:1px solid rgba(0,0,0,0.2)!important;border-bottom:none!important;height:40px!important;width:40px!important;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease}
.ss li:hover{-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease}
.ss li:first-child{border-left:1px solid rgba(0,0,0,0.2)!important}
.ss li a{display:block!important;text-indent:-9999px!important;height:40px!important;width:40px!important}
.ss li a:active{box-shadow:inset 0 0 10px rgba(0,0,0,0.3),inset 0 0 10px rgba(0,0,0,0.3);-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.3),inset 0 0 10px rgba(0,0,0,0.3);-moz-box-shadow:inset 0 0 10px rgba(0,0,0,0.3),inset 0 0 10px rgba(0,0,0,0.3)}

/* Social Sprites: Icon Classes
================================================== */
.ss li.digg{background-position:0 0!important}
.ss li.digg:hover{background-position:0 -40px!important}
.ss li.dribbble{background-position:0 -80px!important}
.ss li.dribbble:hover{background-position:0 -120px!important}
.ss li.facebook{background-position:0 -160px!important}
.ss li.facebook:hover{background-position:0 -200px!important}
.ss li.flickr{background-position:0 -240px!important}
.ss li.flickr:hover{background-position:0 -280px!important}
.ss li.forrst{background-position:0 -320px!important}
.ss li.forrst:hover{background-position:0 -360px!important}
.ss li.googleplus{background-position:0 -400px!important}
.ss li.googleplus:hover{background-position:0 -440px!important}
.ss li.html5{background-position:0 -480px!important}
.ss li.html5:hover{background-position:0 -520px!important}
.ss li.icloud{background-position:0 -560px!important}
.ss li.icloud:hover{background-position:0 -600px!important}
.ss li.lastfm{background-position:0 -640px!important}
.ss li.lastfm:hover{background-position:0 -680px!important}
.ss li.linkedin{background-position:0 -720px!important}
.ss li.linkedin:hover{background-position:0 -760px!important}
.ss li.myspace{background-position:0 -800px!important}
.ss li.myspace:hover{background-position:0 -840px!important}
.ss li.paypal{background-position:0 -880px!important}
.ss li.paypal:hover{background-position:0 -920px!important}
.ss li.picasa{background-position:0 -960px!important}
.ss li.picasa:hover{background-position:0 -1000px!important}
.ss li.pinterest{background-position:0 -1040px!important}
.ss li.pinterest:hover{background-position:0 -1080px!important}
.ss li.reddit{background-position:0 -1120px!important}
.ss li.reddit:hover{background-position:0 -1160px!important}
.ss li.rss{background-position:0 -1200px!important}
.ss li.rss:hover{background-position:0 -1240px!important}
.ss li.skype{background-position:0 -1280px!important}
.ss li.skype:hover{background-position:0 -1320px!important}
.ss li.stumbleupon{background-position:0 -1360px!important}
.ss li.stumbleupon:hover{background-position:0 -1400px!important}
.ss li.tumblr{background-position:0 -1440px!important}
.ss li.tumblr:hover{background-position:0 -1480px!important}
.ss li.twitter{background-position:0 -1520px!important}
.ss li.twitter:hover{background-position:0 -1560px!important}
.ss li.vimeo{background-position:0 -1600px!important}
.ss li.vimeo:hover{background-position:0 -1640px!important}
.ss li.wordpress{background-position:0 -1680px!important}
.ss li.wordpress:hover{background-position:0 -1720px!important}
.ss li.yahoo{background-position:0 -1760px!important}
.ss li.yahoo:hover{background-position:0 -1800px!important}
.ss li.youtube{background-position:0 -1840px!important}
.ss li.youtube:hover{background-position:0 -1880px!important}
.ss li.customicon1{background-position:0 0!important}
.ss li.customicon1:hover{background-position:0 -40px!important}
.ss li.customicon2{background-position:0 0!important}
.ss li.customicon2:hover{background-position:0 -40px!important}
.ss li.github{background-position:0 -1920px!important}
.ss li.github:hover{background-position:0 -1960px!important}
.ss li.behance{background-position:0 -2000px!important}
.ss li.behance:hover{background-position:0 -2040px!important}
.ss li.yelp{background-position:0 -2080px!important}
.ss li.yelp:hover{background-position:0 -2120px!important}
.ss li.mail{background-position:0 -2160px!important}
.ss li.mail:hover{background-position:0 -2200px!important}
.ss li.instagram{background-position:0 -2240px!important}
.ss li.instagram:hover{background-position:0 -2280px!important}
.ss li.foursquare{background-position:0 -2320px!important}
.ss li.foursquare:hover{background-position:0 -2360px!important}
.ss li.zerply{background-position:0 -2400px!important}
.ss li.zerply:hover{background-position:0 -2440px!important}
.ss li.star{background-position:0 -2480px!important}
.ss li.star:hover{background-position:0 -2520px!important}
.ss li.share{background-position:0 -2560px!important}
.ss li.share:hover{background-position:0 -2600px!important}
.ss li.doc{background-position:0 -2640px!important}
.ss li.doc:hover{background-position:0 -2680px!important}

/* Social Sprites Mini
================================================== */
.socialbar_mini{height:30px;width:100%;padding:0;z-index:999}
.ssm{width:auto;margin:0!important;padding:0!important;text-align:left;font-size:0}
.ssm li{display:inline-block!important;height:30px!important;width:30px!important;margin:0!important;padding:0!important;border-right:1px solid rgba(0,0,0,0.2)!important;border-bottom:none!important;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease}
.ssm li:hover{-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease}
.ssm li:first-child{border-left:1px solid rgba(0,0,0,0.2)!important}
.ssm li a{display:block!important;text-indent:-9999px!important;height:30px!important;width:30px!important}
.ssm li a:active{box-shadow:inset 0 0 10px rgba(0,0,0,0.3),inset 0 0 10px rgba(0,0,0,0.3);-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.3),inset 0 0 10px rgba(0,0,0,0.3);-moz-box-shadow:inset 0 0 10px rgba(0,0,0,0.3),inset 0 0 10px rgba(0,0,0,0.3)}

/* Social Sprites Mini: Icon Classes
================================================== */
.ssm li.digg{background-position:0 0!important}
.ssm li.digg:hover{background-position:0 -30px!important}
.ssm li.dribbble{background-position:0 -60px!important}
.ssm li.dribbble:hover{background-position:0 -90px!important}
.ssm li.facebook{background-position:0 -120px!important}
.ssm li.facebook:hover{background-position:0 -150px!important}
.ssm li.flickr{background-position:0 -180px!important}
.ssm li.flickr:hover{background-position:0 -210px!important}
.ssm li.forrst{background-position:0 -240px!important}
.ssm li.forrst:hover{background-position:0 -270px!important}
.ssm li.googleplus{background-position:0 -300px!important}
.ssm li.googleplus:hover{background-position:0 -330px!important}
.ssm li.html5{background-position:0 -360px!important}
.ssm li.html5:hover{background-position:0 -390px!important}
.ssm li.icloud{background-position:0 -420px!important}
.ssm li.icloud:hover{background-position:0 -450px!important}
.ssm li.lastfm{background-position:0 -480px!important}
.ssm li.lastfm:hover{background-position:0 -510px!important}
.ssm li.linkedin{background-position:0 -540px!important}
.ssm li.linkedin:hover{background-position:0 -570px!important}
.ssm li.myspace{background-position:0 -600px!important}
.ssm li.myspace:hover{background-position:0 -630px!important}
.ssm li.paypal{background-position:0 -660px!important}
.ssm li.paypal:hover{background-position:0 -690px!important}
.ssm li.picasa{background-position:0 -720px!important}
.ssm li.picasa:hover{background-position:0 -750px!important}
.ssm li.pinterest{background-position:0 -780px!important}
.ssm li.pinterest:hover{background-position:0 -810px!important}
.ssm li.reddit{background-position:0 -840px!important}
.ssm li.reddit:hover{background-position:0 -870px!important}
.ssm li.rss{background-position:0 -900px!important}
.ssm li.rss:hover{background-position:0 -930px!important}
.ssm li.skype{background-position:0 -960px!important}
.ssm li.skype:hover{background-position:0 -990px!important}
.ssm li.stumbleupon{background-position:0 -1020px!important}
.ssm li.stumbleupon:hover{background-position:0 -1050px!important}
.ssm li.tumblr{background-position:0 -1080px!important}
.ssm li.tumblr:hover{background-position:0 -1110px!important}
.ssm li.twitter{background-position:0 -1140px!important}
.ssm li.twitter:hover{background-position:0 -1170px!important}
.ssm li.vimeo{background-position:0 -1200px!important}
.ssm li.vimeo:hover{background-position:0 -1230px!important}
.ssm li.wordpress{background-position:0 -1260px!important}
.ssm li.wordpress:hover{background-position:0 -1290px!important}
.ssm li.yahoo{background-position:0 -1320px!important}
.ssm li.yahoo:hover{background-position:0 -1350px!important}
.ssm li.youtube{background-position:0 -1380px!important}
.ssm li.youtube:hover{background-position:0 -1410px!important}
.ssm li.customicon1{background-position:0 0!important}
.ssm li.customicon1:hover{background-position:0 -40px!important}
.ssm li.customicon2{background-position:0 0!important}
.ssm li.customicon2:hover{background-position:0 -40px!important}
.ssm li.github{background-position:0 -1440px!important}
.ssm li.github:hover{background-position:0 -1470px!important}
.ssm li.behance{background-position:0 -1500px!important}
.ssm li.behance:hover{background-position:0 -1530px!important}
.ssm li.yelp{background-position:0 -1560px!important}
.ssm li.yelp:hover{background-position:0 -1590px!important}
.ssm li.mail{background-position:0 -1620px!important}
.ssm li.mail:hover{background-position:0 -1650px!important}
.ssm li.instagram{background-position:0 -1680px!important}
.ssm li.instagram:hover{background-position:0 -1710px!important}
.ssm li.foursquare{background-position:0 -1740px!important}
.ssm li.foursquare:hover{background-position:0 -1770px!important}
.ssm li.zerply{background-position:0 -1800px!important}
.ssm li.zerply:hover{background-position:0 -1830px!important}
.ssm li.star{background-position:0 -1860px!important}
.ssm li.star:hover{background-position:0 -1890px!important}
.ssm li.share{background-position:0 -1920px!important}
.ssm li.share:hover{background-position:0 -1950px!important}
.ssm li.doc{background-position:0 -1980px!important}
.ssm li.doc:hover{background-position:0 -2010px!important}

/* Social Bar
================================================== */
.socialbar{width:100%;min-height:40px;padding:0;font-size:0;z-index:999;background:#FFFFFF}
.socialbar:after{clear:left;content:" "}
.socialbar_transparent{width:100%;min-height:40px;padding:0;font-size:0;z-index:999}
.socialbar_transparent:after{clear:left;content:" "}
.borderless li{border:none!important}
.borderless li:first-child{border:none!important}
ul.borderless li{border:none!important}
ul.borderless li:first-child{border:none!important}

/* Social Sprites: Shapes
================================================== */
.sssquare{border-radius:0;-moz-border-radius:0;-webkit-border-radius:0}
.sscircle li{border-radius:100%;-moz-border-radius:100%;-webkit-border-radius:100%;-webkit-box-shadow:0 2px rgba(0,0,0,0.3);-moz-box-shadow:0 2px rgba(0,0,0,0.3);box-shadow:0 2px rgba(0,0,0,0.3);margin-right:5px!important;margin-bottom:5px!important;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;background-color:#FFF!important}
.sscircle li:hover,.sscircle li a:active{-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease}